@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --primary-lighter: #ff8d8d;
  --primary-light: #ff6c6c;
  --primary: #ff5c5c;
  --primary-dark: #e65353;
  --primary-darker: #b34040;
  --secondary-lighter: #4daef8;
  --secondary-light: #4daef8;
  --secondary: #008bf5;
  --secondary-dark: #007ddd;
  --secondary-darker: #0061ac;
  --neutral-100: #ffffff;
  --neutral-200: #eff1f0;
  --neutral-300: #dfe3e1;
  --neutral-400: #cfd5d2;
  --neutral-500: #bec6c2;
  --neutral-600: #999f9e;
  --neutral-700: #73787a;
  --neutral-800: #4d5156;
  --neutral-900: #272932;
  --success: #00e070;
  --warning: #fde05e;
  --error: #ff5c5c;
  background-color: var(--primary);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Hammersmith One", sans-serif;
}

.center-or-space {
  justify-content: space-between;
}

.center-or-space > :only-child {
  margin: auto;
}

.p-transition {
  transition: padding 0.1s;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 13px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 100px;
  background: var(--neutral-100);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 0px;
  animation: lds-ellipsis1 0.6s infinite, 1.2s none -0.6s infinite lds-colors;
  z-index: 1;
}
.lds-ellipsis div:nth-child(2) {
  left: 0px;
  animation: lds-ellipsis2 0.6s infinite, 1.2s none 0s infinite lds-colors;
  z-index: 3;
}
.lds-ellipsis div:nth-child(3) {
  left: 24px;
  animation: lds-ellipsis2 0.6s infinite, 1.2s none -0.6s infinite lds-colors;
  z-index: 2;
}
.lds-ellipsis div:nth-child(4) {
  left: 48px;
  animation: lds-ellipsis3 0s infinite, 1.2s none 0s infinite lds-colors;
  z-index: 1;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 0);
    width: 37px;
  }
  100% {
    transform: translate(24px, 0);
    width: 13px;
  }
}
@keyframes lds-colors {
  0% {
    background-color: var(--neutral-800);
  }
  1% {
    background-color: var(--neutral-100);
  }
  50% {
    background-color: var(--neutral-100);
  }
  51% {
    background-color: var(--neutral-800);
  }
  100% {
    background-color: var(--neutral-800);
  }
}
